{% extends 'home.html' %}
{% block content %}
<link href="../static/css/sign.css" rel="stylesheet">
<link href="../static/css/bootstrap.min.css">
    <div class="center">
        <div class="header">SIGN IN FORM</div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{url_for('auth.login')}}">login page</a>
        </div>
        {% endif %}
        {% endwith %}
        <form action="/sign" method="POST">
            <input name="firstname" id="firstname" type="text" placeholder="Your firstname" required>
            <input name="lastname" id="lastname" type="text" placeholder="Your lastname" required>
            <input name="email" id="email" type="text" placeholder="Email" required>
            <input name="password" id="pswrd" type="password" placeholder="Password" required>
            <i class="fas fa-lock" onclick="show()"></i>
            <input type="submit" value="Sign in">
            <a href="#">Forgot Password ?</a>
        </form>
    </div>
    <script>
        function show(){
            var pswrd = document.getElementById('pswrd');
            var icon = document.querySelector('.fas');

            if(pswrd.type === "password"){
                pswrd.type = "text";
                pswrd.style.marginTop = "20px"
                icon.style.color = "#000000"
            }else{
                pswrd.type = "password";
                icon.style.color = "grey";
            }
        }
    </script>
{% endblock  %}

